.sizingPageContainer {
  overflow: scroll;
  height: 100vh;
  text-align: center;

  h1{
    font-size: 22px;
    padding: 32px;
  }
  h3 {
    margin-bottom: 0;
  }
  .imgContainer {
    width: 60%;
    height: 40vh;
    margin: 16px auto;
    border: 1px solid #ABABAB;
    position: relative;
  }

  @media only screen and (max-width: 768px) {
    .imgContainer {
      width: 90%;
      height: 20vh;
      margin: 16px auto;
      border: 1px solid #ABABAB;
      position: relative;
    }
  }
}
