.sizePickerContainer {
    display: flex;
    justify-content: space-between;
    .size{
        padding: 24px;
        border-radius: 4px;
        border: 1px solid white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
    }
    .sizeSelected{
        padding: 24px;
        border-radius: 4px;
        font-size: 16px;
        background-color:white;
        color: black;
        cursor: pointer;
        font-weight: 700;
    }
    .sizeUnavailable{
        padding: 24px;
        border-radius: 4px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid white;
        font-weight: 700;
        opacity: 40%;
    }
    @media (max-width: 768px) {
        // justify-content: space-around;
    }
}