.navbarOptionsContainer{
    position: fixed;
    top: 0;
    z-index: 2;
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    
    padding: 20vh 6vw;
    .menuItemsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 60%;
        margin: auto;
        text-align: center;
        a{
            font-weight: 600;
            font-size: 38px;
            margin-bottom: 1rem;
        }
    }
}

// mobile   
@media screen and (max-width: 768px){
    .navbarOptionsContainer{
        padding: 20vh 3vw;
        .menuItemsContainer{
            width: 80%;
            grid-template-columns: 1fr;
        }
    }
}