.productImagesContainer{
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    .topImage{
        width: 70%;
        margin: auto;
    }
    
    .productImagesPreview{
        display: flex;
        .smallImage {
            cursor: pointer;
            margin: 4px;
            width: 70px;
            height: 70px;
            opacity: 60%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .smallImageSelected {
            border: 1px solid white;
            margin: 4px;
            width: 70px;
            height: 70px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .productImagesPreview::-webkit-scrollbar {
        display: none;
      }
      .productImagesPreview {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
      }
}