.layoutContainer{
    font-size: 12px;
    min-height: 100vh;
    margin: 0;
    color: black;
    .spinningLogoContainer{
      position: fixed;
      bottom: 50px;
      z-index: 2;
      right: 50px;
      width: 7vw;
        // mobile
          @media (max-width: 768px) {
            top: 4%;
            left: 53%;
            height: 20%;
            transform: translate(-55%, -13%);
            width: 10vh;
          }
    }
    .countdown{
      right: calc(2vw + 8vh);
      @media (max-width: 768px) {
          right: calc(8vh);
          top: 6%;
          left: 50%;
          height: 20%;
          transform: translate(-55%, -13%);
          width: auto;
        }
    }
}
