.productPreviewContainer {
  width: 100%;
  position: relative;
  cursor: pointer;

  .soldOut {
    position: absolute;
    right: 0;
    width: 7rem;
    height: 2rem;
    margin-left: auto;
    margin-right: 5%;
    color: #d2d8db;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d2d8db;

    h3 {
      margin: 0;
    }
  }

  .imageContainer {
    background-size: cover;
    background-color: #F0F0F0;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  
    &:hover img {
      transform: scale(0.97);
    }
  }
  

  .productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }

  .previewDetails {
    display: flex;
    justify-content: space-between;
    padding: 0.375rem;
  }

  .cardDetail {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    font-weight: 500;
    width: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .soldOut {
      font-size: 10px;
      margin-bottom: 4px;
    }
    
    img {
      margin-top: 2rem;
    }
    
    .previewDetails {
      display: block;
      margin-bottom: 16px;
    }
    
    .cardDetail {
      font-size: 12px;
      margin: 0;
    }
  }
}
