.productPreviewContainer{
    text-align: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    .soldOut{
      // TODO: FIX
      position: absolute;
      right: 0;
      width: 5rem;
      height: 1rem;
      margin-left: auto;
      margin-right: 5%;
      color: #d2d8db;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #d2d8db;
      h3{
        margin: 0
      }
    }

    .cardTitle{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
    .cardPrice {
        font-size: 18px;
    }
    img {
      margin-top: 2rem;
      width: 100%;
    }
    transition: .5s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
      outline: none !important;
    }
    @media only screen and (max-width: 768px) {
      .soldOut{
        width: 6rem;
        height: 2rem;
        font-size: 10px;
        margin-bottom: 4px;
      }
    }
}
