.archivePageContainer{
    text-align: center;
    h1{
        font-size: 22px;
        padding: 32px;
    }
    .archiveTitle{
        color: white;
        font-weight: 600;
        font-size: 36px;
    }
    .archiveProductContainer{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
        margin: 20px 0;
    }
    .dropContainer{
      width: 60%;
      margin: auto;
      margin-bottom: 32px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    @media only screen and (max-width: 768px) {
      h1{
        padding-top: 0;
        margin-top: 0;
      }
      .archiveProductContainer{
        grid-template-columns: 1fr 1fr;
      }
    
      .dropContainer{
        width: 95%;
      }

    }
}
