.archivePageContainer{
    text-align: center;
    .archiveTitle{
        color: white;
        font-weight: 600;
        font-size: 36px;
    }
    .archiveProductContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}