.navbarContainer{
    z-index: 1;
    color: black;
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100vw;
    display: flex;
    padding: 0 18px;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    max-width: 100vw;
    top: 0;
    h2 {
        cursor: pointer;
        z-index: 1;
        text-transform: capitalize;
        font-size: 24px;
        padding: 24px;
        padding-bottom: 12px;
        font-weight: 600;
        margin-top: 0;
    }
    p{
        cursor: pointer;
        z-index: 1;
        text-transform: capitalize;
        font-size: 14px;
        padding: 24px;
        padding-bottom: 12px;
        margin-top: 0;
        margin-left: 32px;
    }

    .leftNavbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rightNavbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menuIcon{
        font-size: 24px;
        cursor: pointer;
    }
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:focus {
          outline: none !important;
        }
}

// for mobile
@media (max-width: 768px) {
  .navbarContainer{
      padding: 12px;
      padding-bottom: 0;
      position: sticky;
      // position: relative;
      height: 10vh;
      background-color: #f2f2f1;
      overflow: scroll;
      h2 {
          font-size: 18px;
          padding: 12px;
          padding-bottom: 0;
      }
      .cartAndBars{
          margin-right: 4px;
          width: 80px;
          .icon{
              svg {
                  font-size: 1.5rem;
              }
          }
      }
      p{
        padding-right: 8px;
      }
      .menuIcon{
          font-size: 24px;
          cursor: pointer;
      }
    }
    .navbarContainerHome {
      background: transparent;
    }
}
