.faqPageContainer{
    text-align: center;
    padding-bottom: 10vh;
    h1{
        margin-top: 10vh;
        margin-bottom: 52px;
    }
}
@media (max-width: 768px) {
    .faqPageContainer{
        h1{
            margin-top: 10vh;
            font-size: 22px;
            margin-bottom: 36px;
            padding: 8px;
        }
    }
}
