.emailFormContainer{
  .emailForm{
      color: black;
      display: flex;
      width: 300px;
      height: 50px;
      #emailInput {
          width: 82%;
          border: 2px solid black;
          font-size: 16px;
          font-family: 'Space Mono', monospace;
          padding-left: 4px;
          font-weight: bold;
          &:focus{
            outline:none;
          }
      }
      .submitButton{
          cursor: pointer;
          width: 20%;
          color: black;
          border: 2px solid black;
          border-left: none;
          display: flex;
          align-items: center;
          justify-content: center;
          .arrow-right-email{
              width: 40px;
              font-size: 24px;
              color: black;
            }
            &:hover {
              background-color: rgba(0,0,0,.1);
            }
      }
    }

    .messageContainer{
      height: 25px;
      .errorMessage{
        text-align: left;
        color: red;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0px;
      }
      .successMessage {
        text-align: left;
        color: green;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0px;
      }
    }
  }

.sidebarEmailFormContainer{
  .emailForm{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 24px;
    input{
      background-color: transparent;
      border: 0;
      // placeholder color to white
      color: white;
      letter-spacing: .05em;
      padding: 0;
      border: none;
      margin: 0;
      background: none;
      border-radius: 0;
      font-size: 1.05rem;
      font-family: 'Space Mono', monospace;
      right: 0;
      top: 4px;
      &:focus {
          outline: none !important;
        }
    }
    ::placeholder {
      color: #999591;
    }
    .submitButtonText{

    }
  }
}
