.countdownTimerContainer{
  font-size: 28px;
  font-weight: 400;
  // border: 2px solid rgba(10, 10, 10, 1);
  padding: 0 0.8rem;
  background-color: #f2f2f1;
    // smaller font for mobile
  @media (max-width: 600px) {
    font-size: 24px;
  }
}
