.dropPageContainer{
    text-align: center;
    .gridder{
      display: grid;
      width: calc(20vw + 25vh);
      margin: auto;
      margin-top: 8vh;
      align-items: center;
      .dropTitle{
        font-size: 28px;
      }
    }
    .productsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .countdownTimerContainer{
      padding-bottom: 24px;
    }
}

@media only screen and (max-width: 900px) {
    .dropPageContainer{
      .productsContainer{
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .dropPageContainer{
      .gridder {
        margin-top: 0;
        .dropTitle {
          margin-top: 0;
          font-size: 24px;
        }
      }
        .productsContainer{
            grid-template-columns: 1fr;
        }
    }
}
