.showPageDesktopContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  .leftSide {
    height: 100vh;
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    .imageContainer {
      margin: auto;
    }

    .productCarousel {
      width: 100%;

      img {
        width: 100%;
      }
      .dotsContainer{
        display: flex;
        justify-content: center;
        .dot{
          font-size: 6px;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          margin: 8px 4px;
          color: rgba(0, 0, 0, 0.5);
        }
        .colored{
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .productDescription {
    padding: 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .flex_growers{
      flex-grow: 1;
    }
    .priceAndTitle {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 1);
      h1 {
        font-size: 16px;
        font-weight: 400;
      }

      h2 {
        font-size: 16px;
        margin-left: 24px;
        font-weight: 400;
      }
    }
    .descriptionAndQuantity {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .description {
        font-size: 12px;
      }
      .quantity {
        padding: 1rem;
        .quantityPicker{
          font-size: 14px;
          display: flex;
          margin-top: 14px;
          .changeQuantityDown {
            cursor: pointer;
            margin-right: 24px;
            font-size: 16px;
          }
          .changeQuantityUp{
            margin-left: 24px;
            cursor: pointer;
            font-size: 16px;
          }
        }
      }
    }
    .productAddToCart {
      .productPrice {
        font-size: 24px;
      }

      .sizeAndNumber {
        display: flex;
        justify-content: right;
        padding-bottom: 24px;
        margin-bottom: 24px;
        margin-top: 24px;
        border-bottom: 1px dashed rgba(0, 0, 0, 1);
        .buttonContainer{
          width: 30%;
          margin-left: 16px;
        }
      }
    }
    .otherLinks{
      .sizingLink {
          text-decoration: underline;
          margin: 4px;
          &:hover{
            opacity: 0.8;
          }
        }
    }
    .changeImagesContainer{
        display: flex;
      .changeImage{
        opacity: 40%;
        cursor: pointer;
        img{
          width: 4vw;
        }
        &:hover{
          opacity: 100%;
        }
      }
      .selected{
        opacity: 100%;
      }
    }
  }
}
