.artistsPageContainer{
  width: 95%;
  margin: auto;
  padding: 9.5vh 0 10vh 0;
  h1{
    text-align: center;
    font-weight: 400;
  }
  .topBorder {
    border-bottom: 1px solid black;
    height: 0.1px;
  }
  @media (max-width: 768px) {
      padding: 1vh 0 10vh 0;
  }
}
