.artistsPageContainer {
  display: flex;
  position: relative;
  top: 9.5vh;
  height: 90vh;

  .mobileToggleButton {
    display: none;
    position: absolute;
    top: -40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    z-index: 100;
    width: 100vw;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  .sidebarContainer {
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    top: 50px;

    .mobileToggleButton {
      display: block;
    }

    .sidebarContainer {
      position: absolute;
      left: 0;
      height: 100%;
      background: white;
      z-index: 99;
      transform: translateX(-100%);
      width: 100vw;
    }

    .sidebarContainer.open {
      transform: translateX(0); /* Visible when open */
    }
  }
}
