.ddWraper{
    width: 100%;
    border: 1px solid rgba(0,0,0,1);
    text-align: center;
    cursor: pointer;
    position: relative;
    .ddHeaderTitle {
        padding: 1rem;
    }
    .ddListOpen {
        height: auto;
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 100%;
        top: 52px;
        left: 0;
    }
    .ddListClosed {
        height: 0;
        display: none;
    }
    .ddListItem {
        border: 1px solid rgba(0,0,0,.5);
        text-align: center;
        margin: 0;
        padding: .5rem;
    }
}