.ddWraper{
    width: 20%;
    border: 1px solid rgba(0,0,0,1);
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 40px;
    .ddHeaderTitle {
        padding: 0.8rem;
    }
    .ddListOpen {
        height: auto;
        border: 1px solid rgba(0, 0, 0, 1);
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 40px;
        left: 0;
        transition: 0.3s;
      }
      .ddListClosed {
        transition: 0.3s;
        height: 0;
        overflow: hidden;
    }
    .ddListItem {
        display: flex;
        background: #f2f2f1;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin: 0;
        padding: .5rem;
        border-top: 0.5px solid rgba(0,0,0,.3);
        &:hover{
          background: #c1c1c1;
        }
    }
    .unavailableItem{
      color: gray;
    }
}
