.cartContainer{
    h1{
        text-align: center;
        padding-top: 10vh;
        font-size: 24px;
        font-weight: 400;
    }
    .lineItems{
      .lineItem{
        border-bottom: .2px solid rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        img{
          width: 20%;
          margin: 8px;
        }
        .itemInfo{
          width: 80%
        }
      }
    }
    .cartProductContainer{
      width: 40vw;
      margin: auto;
      height: 60vh;
      border: .8px solid rgba(0,0,0,0.5);
      display: flex;
      flex-direction: column;
      .flexBoxPriceSize{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .sizeText{
          margin-left: 10%;
        }
        .removeItem{
          color: red;
          cursor: pointer;
          &:hover {
            color: rgb(247, 62, 62);
          }
        }
      }
      .flex_grower{
        flex-grow: 1;
      }
      .checkoutBottomContainer{
        width: 90%;
        margin: auto;
        .checkoutText{
          display: flex;
          justify-content: space-between;
        }
        .checkoutBtn{
          width: 100%;
          border: 1px solid rgb(0, 0, 0);
          background-color: transparent;
          color: rgb(26, 10, 14);
          font-size: 16px;
          text-align: center;
          padding: 8px;
          cursor: pointer;
          margin-bottom: 12px;
        }
      }
    }
}


// cart for mobile
@media (max-width: 768px) {
    .cartContainer{
        h1{
            padding-top: 0;
        }
        .lineItems{
          .lineItem{
            border-bottom: .8px solid rgba(0, 0, 0, 0.5);
            display: flex;
            img{
              width: 20%;
            }
          }
        }
        .cartProductContainer{
          width: 90vw;
          flex-direction: column;
          .checkoutBottomContainer{
            width: 90%;
            margin: auto;
          }
        }
    }
}
