.homeContainer {
    min-height: 100vh;
    padding: 0 0.5rem;
    padding-top: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        font-weight: 900;
        font-size: 45px;
        margin-bottom: 1rem;
    }
}


@media (max-width: 600px) {
    .homeContainer {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
        padding-top: 0;
        text-align: right;
        .animation{
            position: relative;
            width: 80vh;
            height: 90vw;
            transform: rotate(90deg);
            margin-bottom: auto;
        }
    }
}


.fishContainer{
      $color-a: darkorange;
      $color-b: orange;

      #toggleSpeed {
        background: tomato;
        border: none;
        border-radius: .6em;
        bottom: 0;
        box-shadow: 0 -.08em 0 0 lighten(tomato, 15%), 0 .3em 0 0 shade(tomato, 8%);
        color: white;
        margin: .5em 5vw;
        padding: 1em 2em 1.2em;
        position: fixed;
        width: 90vw;
      }

      .fish {
        animation: fish .8s ease-in-out infinite alternate;
        font-size: 10px;
        left: 50%;
        perspective: 600px;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        .body,
        .fins {
          height: 7em;
          position: absolute;
          transform: translateX(-50%) translateY(-50%);
          width: 12em;
        }

        .body {
          background: $color-a;
          border-radius: 50%;
          box-shadow: inset .3em -.5em 0 0 shade($color-a, 10%);
          &:before,
          &:after {
            border-radius: 35% / 50%;
            box-shadow:
              -.1em .05em 0 0 shade($color-a, 30%),
              -.1em .05em .1em 0 rgba(black, .1)
              ;
            content: "";
            height: 3em;
            left: 7.5em;
            position: absolute;
            top: 1.7em;
            transform: rotate(-6deg);
            width: 1em;
          }
          &:after {
            height: 2.8em;
            left: 6.7em;
            top: 1.8em;
            transform: rotate(-8deg);
          }
        }

        .fins {
          div {
            position: absolute;
            z-index: -1;
          }
          .top {
            animation: finTop 1.2s linear infinite alternate;
            border-radius: 0 100% 0 0;
            box-shadow: 2.5em 1em 1em 0 rgba(black, .1), 3em .5em 0 0 $color-b;
            height: 3em;
            left: 0;
            top: -2.25em;
            transform: rotateZ(-5deg);
            transform-origin: 7.5em bottom;
            width: 5em;
          }
          .bottom {
            animation: finBottom 1.2s linear infinite alternate;
            border-radius: 0 0 100%;
            bottom: -1.4em;
            box-shadow: 2em -.3em 0 0 rgba(black, .1), 2em -.3em 0 0 $color-b;
            height: 2em;
            left: 2em;
            transform: rotateZ(5deg);
            transform-origin: 5.5em top;
            width: 3.5em;
            + .bottom {
              bottom: -.4em;
              box-shadow: 2em -.5em 0 0 rgba(black, .1), 2em -.5em 0 0 $color-b;
              height: 1.5em;
              left: 0;
              transform: rotateZ(10deg);
              width: 2.5em;
            }
          }
        }

        .tail {
          animation: tailSlow 1.2s ease-in-out infinite alternate;
          border-radius: 50%;
          box-shadow:
            2.5em .5em 1em -1em rgba(black, .1),
            2.5em 0 0 0 $color-b,
            2.75em -.15em 0 .05em $color-a,
            2.8em .1em 0 .1em darken($color-a, 10%);
          height: 9em;
          left: -15.8em;
          position: absolute;
          top: -5.5em;
          transform: skewX(7deg);
          transform-origin: 10em center;
          transform-style: preserve-3d;
          width: 7em;
        }

        .side {
          animation: sideFinSlow 3.2s linear infinite alternate;
          border-bottom: .4em solid transparent;
          border-left: 2em solid $color-b;
          border-top: .4em solid transparent;
          border-radius: .4em;
          box-shadow: inset -1.5em -.5em 4em 0 rgba(black, .7);
          height: 2em;
          left: -2.5em;
          position: absolute;
          top: -1em;
          transform: rotate(-8deg);
          transform-origin: 2em center;
          transform-style: preserve-3d;
          width: 0;
          &:before {
            background: shade($color-b, 5%);
            border-radius: .4em 100% 0 .4em;
            box-shadow: -.2em .2em .5em 0 rgba(black, .1);
            content: "";
            height: 1.1em;
            left: -1.7em;
            position: absolute;
            transform: skewY(-10deg);
            width: 1.7em;
          }
          &:after {
            background: $color-b;
            border-radius: 50%;
            content: "";
            height: 1.2em;
            left: -.3em;;
            position: absolute;
            width: .6em;
          }
        }

        .eye {
          animation: eye 4s linear infinite;
          background: black;
          border-radius: 50%;
          box-shadow: inset .35em 0 0 .5em white;
          height: 2em;
          left: 2.5em;
          position: absolute;
          top: -1.5em;
          width: 2em;
          z-index: 10;
        }

        .bubbles {
          .bubble {
            animation: bubbleOne 3s ease-in infinite;
            border-radius: 50%;
            box-shadow: inset 0 0 .5em 0 rgba(deepskyblue, .5);
            height: 2em;
            left: 5.8em;
            position: absolute;
            top: -1em;
            transform: scale(0);
            transform-origin: left center;
            width: 2em;
            &:nth-child(4n-1) {
              animation-name: bubbleTwo;
              animation-delay: .8s;
              animation-duration: 3.3s;
            }
            &:nth-child(4n-2) {
              animation-name: bubbleThree;
              animation-delay: 1.5s;
              animation-duration: 3.15s;
            }
            &:nth-child(4n-3) {
              animation-name: bubbleFour;
              animation-delay: 2.2s;
              animation-duration: 2.85s;
            }
          }
        }
      }

      @keyframes bubbleOne {
        0% {
          transform: scale(0) translateY(0);
        }
        25% {
          transform: scale(1) translateY(0);
        }
        100% {
          transform: scale(1) translateX(.2em) translateY(-60vh);
        }
      }

      @keyframes bubbleTwo {
        0% {
          transform: scale(0) translateY(0);
        }
        25% {
          transform: scale(1) translateY(0);
        }
        100% {
          transform: scale(1) translateX(-.2em) translateY(-60vh);
        }
      }

      @keyframes bubbleThree {
        0% {
          transform: scale(0) translateY(0);
        }
        25% {
          transform: scale(1) translateY(0);
        }
        100% {
          transform: scale(1) translateX(.4em) translateY(-60vh);
        }
      }

      @keyframes bubbleFour {
        0% {
          transform: scale(0) translateY(0);
        }
        25% {
          transform: scale(1) translateY(0);
        }
        100% {
          transform: scale(1) translateX(-.4em) translateY(-60vh);
        }
      }

      @keyframes fish {
        from {
          top: calc(50% - .25em);
        }
        to {
          top: calc(50% + .25em);
        }
      }

      @keyframes sideFinSlow {
        0% {
          transform: rotateZ(-8deg) rotateY(2deg);
        }
        30% {
          transform: rotateZ(-14deg) rotateY(40deg);
        }
        60% {
          transform: rotateZ(-22deg) rotateY(20deg);
        }
        100% {
          transform: rotateZ(-28deg) rotateY(50deg);
        }
      }

      @keyframes tailSlow {
        from {
          transform: rotateY(45deg) skewX(7deg);
        }
        to {
          transform: rotateY(-45deg) skewX(7deg);
        }
      }

      @keyframes finTop {
        from {
          transform: rotate(-6deg);
        }
        to {
          transform: rotate(0deg);
        }
      }

      @keyframes finBottom {
        from {
          transform: rotate(6deg);
        }
        to {
          transform: rotate(0deg);
        }
      }

      @keyframes eye {
        0% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(0deg);
        }
        10% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(0deg);
        }
        15% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(-30deg);
        }
        35% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(-30deg);
        }
        45% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(30deg);
        }
        55% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(30deg);
        }
        65% {
          box-shadow: inset -.35em 0 0 .5em white;
          transform: rotate(30deg);
        }
        75% {
          box-shadow: inset -.35em 0 0 .5em white;
          transform: rotate(30deg);
        }
        85% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(0deg);
        }
        100% {
          box-shadow: inset .35em 0 0 .5em white;
          transform: rotate(0deg);
        }
      }


}
