.homeContainer {
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h1{
      font-weight: 400;
    }
    .spinningLogoContainer{
      width: 15vw;
    }
    a{
        font-weight: 900;
        font-size: 45px;
        margin-bottom: 1rem;
    }
}


@media (max-width: 600px) {
    .homeContainer {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        padding-top: 0;
        text-align: right;
        .animation{
            position: relative;
            width: 80vh;
            height: 90vw;
            transform: rotate(90deg);
            margin-bottom: auto;
        }
    overflow: hidden;
    .spinningLogoContainer{
      width: 30vh;
    }
    .emailFormContainer {
      padding-top: 30%;
      padding-bottom: 20%;
    }
    }
}
.emailFormContainer{
  padding-bottom: 15%;
}
