.showPageMobile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 90vh;

  .imageContainer {
    text-align: center;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;

    img {
      transition: 0.4s;
      margin: auto;
      width: 100vw;
    }
  }

  .closed {
    text-align: center;

    img {
      transition: 0.4s;
      margin: auto;
      width: calc(13vh);
    }

    flex-grow: 1;
  }

  .mobileInfo {
    .titlePrice {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      padding-top: 0;

      h1 {
        font-size: 18px;
        width: 60%;
        margin-top: 0;
      }

      p {
        font-size: 22px;
        margin-top: 0;
      }
    }

    .description {
      height: 40vh;
      padding: 0 1rem;
      transition: 0.4s;
      overflow: hidden;

      .openDescriptionBtn {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        font-size: 16px;
        cursor: pointer;

        .icon {
          display: flex;
          align-items: center;
          transition: 0.4s;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .descriptionInner {
        text-align: left;
      }

      .sizingLink {
        text-decoration: underline;
      }
    }

    .closed {
      transition: 0.4s;
      height: 30px;
      text-align: left;
      .icon {
        transform: rotate(-180deg);
      }
    }

  }

  .flexGrow1 {
    flex-grow: 1;
  }

  .sizePickerContainer {
    width: 90%;
    margin: auto;
  }

  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    margin: 1rem auto;
    margin-top: 0;
    height: 45px;

    .half {
      height: 100%;
      width: 50%;

      button {
        font-size: 14px;

      }
    }
  }
}
