.showPageMobile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 90vh;

  .imageContainer {
    text-align: center;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    position: relative;
    .sliderSides{
      position: absolute;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
      .changeImage{
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
    img {
      transition: 0.4s;
      margin: auto;
      width: calc(10vw + 33vh);
    }
    .dotsContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;

      .dot {
        font-size: 6px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        margin: 8px 4px;
        color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: 0.4s;
      }

      .colored {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .closed {
    text-align: center;

    img {
      transition: 0.4s;
      margin: auto;
      width: 15vh;
  }

    .dotsContainer{
      .dot{
        opacity: 0;
        transition: 0.4s;
        height: 0;
      }
    }
    flex-grow: 1;
  }

  .mobileInfo {
    .titlePrice {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      h1 {
        font-size: 18px;
        width: 60%;
        margin-top: 0;
      }

      p {
        font-size: 22px;
        margin-top: 0;
      }
    }

    .description {
      height: calc(30vh + 5vw);
      padding: 0 1rem;
      transition: 0.4s;
      overflow: hidden;

      .openDescriptionBtn {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        font-size: 16px;
        cursor: pointer;

        .icon {
          display: flex;
          align-items: center;
          transition: 0.4s;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .descriptionInner {
        text-align: left;
        height: 24vh;
        overflow: scroll;
      }

      .sizingLink {
        text-decoration: underline;
      }
    }

    .closed {
      transition: 0.4s;
      height: 30px;
      text-align: left;
      overflow: hidden;
      .icon {
        transform: rotate(-180deg);
      }
    }

  }

  .flexGrow1 {
    flex-grow: 1;
  }

  .sizePickerContainer {
    width: 90%;
    margin: auto;
  }

  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    margin: 1rem auto;
    margin-top: 0;
    height: 45px;

    .half {
      height: 100%;
      width: 50%;

      button {
        font-size: 14px;

      }
    }
  }
}
